:root{
--blue: #043fd9;
--btn: #353836;
--highlight: #eee;
}

body {
      color: #000000;
      font-family: 'Roboto', sans-serif;
      margin: 0;
      padding: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
    }
    
    .goTo {
      padding: 20px;
      width: auto;
      background-color: #fff;
  border: 1px solid #d5d5d5;
  border-radius: 10px;
  box-shadow: 0 10px 10px -5px rgba(0, 0, 0, 0.1);
  animation: slide-in-right-to-left 0.5s ease-in-out forwards;
    }
    
    img {
    max-width: 100%; /* Ensure image doesn't exceed its container's width */
    height: auto; /* Maintain aspect ratio */
}

hgroup {
  text-align: right;
}